designs/pages/login.json
[
    {
        "id": "sd_WeCzxl5A4KYiUcMp",
        "type": "tab",
        "createdDate": "2023-12-09T07:30:05.064Z",
        "label": "login",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "loginComponent"
    },
    {
        "id": "sd_TsVWjABlEfGZFVhp",
        "type": "OnInit",
        "z": "sd_WeCzxl5A4KYiUcMp",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_TsVWjABlEfGZFVhp",
        "category": "Lifecycle Events",
        "x": 25,
        "y": 60,
        "wires": [
            [
                "sd_eOdSfSzkHVnWyx4t"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "loginComponent"
    },
    {
        "id": "sd_XY6sBiI2wXSfNBLs",
        "type": "PageStart",
        "z": "sd_WeCzxl5A4KYiUcMp",
        "viewType": "pages",
        "nodeType": "start",
        "name": "loginFuncton",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "loginFuncton",
        "category": "General",
        "x": 45,
        "y": 220,
        "wires": [
            [
                "sd_63byplEMPCpiGXvy"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "loginComponent"
    },
    {
        "id": "sd_WtLovorVK8C9CRVG",
        "type": "SnackBar",
        "z": "sd_WeCzxl5A4KYiUcMp",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "bh",
            "value": "message"
        },
        "action": {
            "type": "str",
            "value": ""
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "top",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_WtLovorVK8C9CRVG",
        "category": "General",
        "x": 305,
        "y": 220,
        "wires": [
            [
                "sd_IzjhQybyqt5VVRu8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_63byplEMPCpiGXvy",
        "type": "Script",
        "z": "sd_WeCzxl5A4KYiUcMp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nif (!page.email || !page.password) return\nlet loginsuccess=false\nlet message=\"\"\n\ntry {\n  await page.signInWithEmailAndPassword(page.auth, page.email, page.password);\n  loginsuccess = true;\n  message = \"login success\";\n} catch (error) {\n  message=error.message\n}\nbh.loginsuccess=loginsuccess\nbh.message=message",
        "functionName": "sd_63byplEMPCpiGXvy",
        "category": "Function",
        "x": 165,
        "y": 220,
        "wires": [
            [
                "sd_WtLovorVK8C9CRVG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_j2uLodGtCgXMN4A3",
        "type": "Navigation",
        "z": "sd_WeCzxl5A4KYiUcMp",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/home",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_j2uLodGtCgXMN4A3",
        "category": "Navigation",
        "x": 585,
        "y": 140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_Yg21DWD3lyx5vLPE",
        "type": "Script",
        "z": "sd_WeCzxl5A4KYiUcMp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.userAuth=false\nif(page.auth.currentUser){\nbh.local.userAuth=true\n}\n\n",
        "functionName": "sd_Yg21DWD3lyx5vLPE",
        "category": "Function",
        "x": 345,
        "y": 60,
        "wires": [
            [
                "sd_RejOr3lHUM2ydkoJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_eOdSfSzkHVnWyx4t",
        "type": "UseDependency",
        "z": "sd_WeCzxl5A4KYiUcMp",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "signInWithEmailAndPassword",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "signInWithEmailAndPassword"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "firebase/auth",
        "serviceDesignerType": "pages",
        "functionName": "sd_eOdSfSzkHVnWyx4t",
        "category": "Function",
        "x": 105,
        "y": 60,
        "wires": [
            [
                "sd_CsBGGN1WtDONWAzY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_IzjhQybyqt5VVRu8",
        "type": "PageSwitch",
        "z": "sd_WeCzxl5A4KYiUcMp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "loginsuccess",
        "propertyType": "bh",
        "propertyGv": "bh.loginsuccess",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_IzjhQybyqt5VVRu8",
        "category": "Function",
        "x": 445,
        "y": 220,
        "wires": [
            [
                "sd_j2uLodGtCgXMN4A3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_RejOr3lHUM2ydkoJ",
        "type": "PageSwitch",
        "z": "sd_WeCzxl5A4KYiUcMp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "userAuth",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.userAuth",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_RejOr3lHUM2ydkoJ",
        "category": "Function",
        "x": 440,
        "y": 60,
        "wires": [
            [
                "sd_j2uLodGtCgXMN4A3"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_CsBGGN1WtDONWAzY",
        "type": "PageCallService",
        "z": "sd_WeCzxl5A4KYiUcMp",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "firebase",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_JS5Dsros0oI2Z1OR",
            "type": "tab",
            "createdDate": "2023-12-13T06:07:56.797Z",
            "label": "initializeFirebase",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_pkDWKoHTEsjQJSYh",
            "flowName": "sd_pkDWKoHTEsjQJSYh"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/initializeFirebase",
        "startName": "sd_pkDWKoHTEsjQJSYh",
        "inputParams": [],
        "accept_bh": "",
        "accept_csd": true,
        "functionName": "firebase",
        "category": "General",
        "x": 185,
        "y": 60,
        "wires": [
            [
                "sd_eGs2Gp8XCXds872K"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_eGs2Gp8XCXds872K",
        "type": "PageServiceVariables",
        "z": "sd_WeCzxl5A4KYiUcMp",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "get",
        "globalVariables": [
            {
                "textIp": "database",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "database"
                }
            },
            {
                "textIp": "auth",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "auth"
                }
            }
        ],
        "functionName": "sd_eGs2Gp8XCXds872K",
        "service": {
            "id": "sd_JS5Dsros0oI2Z1OR",
            "type": "tab",
            "createdDate": "2023-12-13T06:07:56.797Z",
            "label": "initializeFirebase",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client",
            "generateNext": true,
            "serviceName": "initializeFirebase",
            "relativeParentPath": "",
            "_def": {
                "defaults": {
                    "label": {
                        "value": ""
                    },
                    "disabled": {
                        "value": false
                    },
                    "info": {
                        "value": ""
                    }
                }
            }
        },
        "serviceImportPath": "app/sd-services/initializeFirebase",
        "category": "Function",
        "x": 265,
        "y": 60,
        "wires": [
            [
                "sd_Yg21DWD3lyx5vLPE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    }
]
