designs/pages/signup.json
[
    {
        "id": "sd_7X2Mmid0t6XgN5R8",
        "type": "tab",
        "createdDate": "2023-12-09T07:30:13.247Z",
        "label": "signup",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "signupComponent"
    },
    {
        "id": "sd_ulDIxgbvuyIp62ko",
        "type": "OnInit",
        "z": "sd_7X2Mmid0t6XgN5R8",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_ulDIxgbvuyIp62ko",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_QKIz9QczDVO4ZNwv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "signupComponent"
    },
    {
        "id": "sd_l8wEdk8tbcf9qxPM",
        "type": "PageVariables",
        "z": "sd_7X2Mmid0t6XgN5R8",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_l8wEdk8tbcf9qxPM",
        "category": "Function",
        "x": 645,
        "y": 160,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "signupComponent",
        "generated": true
    },
    {
        "id": "sd_Us54zlj9TRilnWss",
        "type": "Script",
        "z": "sd_7X2Mmid0t6XgN5R8",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nif (!page.email || !page.password) return\nlet signupSuccess = false\nlet message = \"signup error\"\ntry {\n  await page.createUserWithEmailAndPassword(page.auth, page.email, page.password);\n  signupSuccess = true;\n  message = \"login success\";\n} catch (error) {\n  message = error.message\n}\nbh.local.signupSuccess = signupSuccess\nbh.message = message\n",
        "functionName": "sd_Us54zlj9TRilnWss",
        "category": "Function",
        "x": 165,
        "y": 200,
        "wires": [
            [
                "sd_tlD9R6WIauTC2aKP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "signupComponent",
        "generated": true
    },
    {
        "id": "sd_UPoK0qEgZ2APOEtY",
        "type": "PageStart",
        "z": "sd_7X2Mmid0t6XgN5R8",
        "viewType": "pages",
        "nodeType": "start",
        "name": "signUpFunction",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "signUpFunction",
        "category": "General",
        "x": 65,
        "y": 200,
        "wires": [
            [
                "sd_Us54zlj9TRilnWss"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "signupComponent"
    },
    {
        "id": "sd_R4FxrmJ6dykwur4f",
        "type": "Catch",
        "z": "sd_7X2Mmid0t6XgN5R8",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": "all-nodes",
        "selectCatchType": "allnodes",
        "masternodeList": "",
        "ignoreList": [
            "sd_ARSKkjQqFbZtnBGU"
        ],
        "functionName": "sd_R4FxrmJ6dykwur4f",
        "category": "General",
        "x": 865,
        "y": 40,
        "wires": [
            [
                "sd_ARSKkjQqFbZtnBGU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "signupComponent"
    },
    {
        "id": "sd_ARSKkjQqFbZtnBGU",
        "type": "Log",
        "z": "sd_7X2Mmid0t6XgN5R8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "bh.error",
        "functionName": "sd_ARSKkjQqFbZtnBGU",
        "category": "General",
        "x": 960,
        "y": 40,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "bh",
                "value": "error",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "signupComponent",
        "generated": true
    },
    {
        "id": "sd_Bxs4GCKWvxKAOtCk",
        "type": "PageSwitch",
        "z": "sd_7X2Mmid0t6XgN5R8",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "signupSuccess",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.signupSuccess",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_Bxs4GCKWvxKAOtCk",
        "category": "Function",
        "x": 365,
        "y": 200,
        "wires": [
            [
                "sd_zmM1jInP0Ej5EupG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "signupComponent",
        "generated": true
    },
    {
        "id": "sd_zmM1jInP0Ej5EupG",
        "type": "Navigation",
        "z": "sd_7X2Mmid0t6XgN5R8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/home",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_zmM1jInP0Ej5EupG",
        "category": "Navigation",
        "x": 525,
        "y": 160,
        "wires": [
            [
                "sd_l8wEdk8tbcf9qxPM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "signupComponent",
        "generated": true
    },
    {
        "id": "sd_QKIz9QczDVO4ZNwv",
        "type": "UseDependency",
        "z": "sd_7X2Mmid0t6XgN5R8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "createUserWithEmailAndPassword",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "createUserWithEmailAndPassword"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "firebase/auth",
        "serviceDesignerType": "pages",
        "functionName": "sd_QKIz9QczDVO4ZNwv",
        "category": "Function",
        "x": 125,
        "y": 40,
        "wires": [
            [
                "sd_njTjtTp7QN3WpB39"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "signupComponent",
        "generated": true
    },
    {
        "id": "sd_tHHNIk3uiQ2mnSjG",
        "type": "Script",
        "z": "sd_7X2Mmid0t6XgN5R8",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.userAuth=false\nif(page.auth.currentUser){\nbh.local.userAuth=true\n}\n",
        "functionName": "sd_tHHNIk3uiQ2mnSjG",
        "category": "Function",
        "x": 365,
        "y": 40,
        "wires": [
            [
                "sd_Qebh2VSHLQcIEC3I"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "signupComponent",
        "generated": true
    },
    {
        "id": "sd_Qebh2VSHLQcIEC3I",
        "type": "PageSwitch",
        "z": "sd_7X2Mmid0t6XgN5R8",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "userAuth",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.userAuth",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_Qebh2VSHLQcIEC3I",
        "category": "Function",
        "x": 465,
        "y": 40,
        "wires": [
            [
                "sd_zmM1jInP0Ej5EupG"
            ],
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "signupComponent",
        "generated": true
    },
    {
        "id": "sd_tlD9R6WIauTC2aKP",
        "type": "SnackBar",
        "z": "sd_7X2Mmid0t6XgN5R8",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "bh",
            "value": "message"
        },
        "action": {
            "type": "str",
            "value": ""
        },
        "duration": {
            "type": "num",
            "value": "3000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_tlD9R6WIauTC2aKP",
        "category": "General",
        "x": 265,
        "y": 200,
        "wires": [
            [
                "sd_Bxs4GCKWvxKAOtCk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "signupComponent",
        "generated": true
    },
    {
        "id": "sd_njTjtTp7QN3WpB39",
        "type": "PageCallService",
        "z": "sd_7X2Mmid0t6XgN5R8",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "firebase",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_JS5Dsros0oI2Z1OR",
            "type": "tab",
            "createdDate": "2023-12-13T06:07:56.797Z",
            "label": "initializeFirebase",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_pkDWKoHTEsjQJSYh",
            "flowName": "sd_pkDWKoHTEsjQJSYh"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/initializeFirebase",
        "startName": "sd_pkDWKoHTEsjQJSYh",
        "inputParams": [],
        "accept_bh": "",
        "accept_csd": true,
        "functionName": "firebase",
        "category": "General",
        "x": 205,
        "y": 40,
        "wires": [
            [
                "sd_DZazTiM1wF9fawXi"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "signupComponent",
        "generated": true
    },
    {
        "id": "sd_DZazTiM1wF9fawXi",
        "type": "PageServiceVariables",
        "z": "sd_7X2Mmid0t6XgN5R8",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "get",
        "globalVariables": [
            {
                "textIp": "auth",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "auth"
                }
            }
        ],
        "functionName": "sd_DZazTiM1wF9fawXi",
        "service": {
            "id": "sd_JS5Dsros0oI2Z1OR",
            "type": "tab",
            "createdDate": "2023-12-13T06:07:56.797Z",
            "label": "initializeFirebase",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client",
            "generateNext": true,
            "serviceName": "initializeFirebase",
            "relativeParentPath": "",
            "_def": {
                "defaults": {
                    "label": {
                        "value": ""
                    },
                    "disabled": {
                        "value": false
                    },
                    "info": {
                        "value": ""
                    }
                }
            }
        },
        "serviceImportPath": "app/sd-services/initializeFirebase",
        "category": "Function",
        "x": 285,
        "y": 40,
        "wires": [
            [
                "sd_tHHNIk3uiQ2mnSjG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "signupComponent",
        "generated": true
    }
]
